:root {
    /* --my-primary: #F66249 !important; */
    --my-primary: #00A8EA !important;
    --my-primary-lite: #45ccff !important;
    --my-primary-transparent: #f5f7fa !important;
    --my-secondary: #02387b !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: unset;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: lightgray;
    /* outline: 1px solid slategrey; */
}

.bg-my-primary {
    background-color: var(--my-primary) !important;
}

.btn-my-primary {
    border: 2px solid !important;
    border-color: var(--my-primary) !important;
    border-radius: 23px !important;
    background: var(--my-primary) !important;
    color: #FFF !important;
    font-size: 15px !important;
    padding: 8px 20px !important;
}

.text-my-primary {
    color: var(--my-primary) !important;
}

.bg-my-secondary {
    background-color: var(--my-secondary) !important;
}

.text-my-secondary {
    color: var(--my-secondary) !important;
}

.top-header-bar-container {
    background-image: linear-gradient(var(--my-secondary), var(--my-primary)) !important;
}

.top-header-bar-container .top-header-bar li {
    float: none !important;
    line-height: 1.5 !important;
}

.top-header-bar-container .top-header-bar li:first-child {
    float: left !important;
}

.top-header-bar-container .top-header-bar li {
    padding-left: 15px !important;
}

.top-header-bar__white-border-btn {
    border: 1px solid white !important;
    padding: 0.8rem !important;
    border-radius: 0.4rem !important;
}

.top-header-bar__mail-btn:hover {
    color: var(--my-primary) !important;
}

.top-header-bar__cart-btn:hover,
.top-header-bar__white-border-btn:hover {
    background-color: #FFF !important;
    color: var(--my-primary) !important;
    border-color: #FFF !important;
}

.top-header-bar__white-border-btn span:hover {
    color: var(--my-primary) !important;
}

.site-header {
    padding: 0rem 1rem !important;
    background-image: linear-gradient( 180deg, var(--my-primary-lite), var(--my-primary)) !important;
}

#mobile-menu-trigger i {
    color: #fff !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-color: var(--my-primary);
    border-bottom: none !important;
    color: var(--my-primary);
}

.whatsapp-section {
    width: fit-content;
    top: 88vh;
    position: fixed;
    right: 2vh;
}

.whatsapp-link {
    color: #fff !important;
    text-decoration: none !important;
    font-size: 3.2rem;
    padding: 0.5rem 1rem;
    border-radius: 50% !important;
    border: 1px solid white;
    background-color: #53b14f !important;
}

.whatsapp-link:hover,
.whatsapp-link:focus {
    background-color: #78d275 !important;
    color: #FFF !important;
}

.whatsapp-link-icon {
    color: inherit !important;
}

.shop-container {
    padding: 0em 4em !important;
}

.expertise-div {
    background-color: var(--my-primary);
    padding: 10px 10px 0px 10px !important;
}

.expertise-div h4,
.expertise-div p {
    color: white !important;
}

.expertise-icon {
    color: white !important;
    font-size: xx-large !important;
}

.our-manthra {
    color: #fff !important;
}

.our-manthra .main-slider-info {
    display: flex !important;
    padding: 14px 0 14px !important;
    margin-top: 5px !important;
    width: 100% !important;
    color: var(--my-primary);
    /* border: 2px solid darkgray !important; */
}

.main-slider-info-cell {
    display: flex!important;
    justify-content: center!important;
}

.our-manthra .main-slider-info-cell {
    display: block !important;
    text-align: center!important;
}

.our-manthra i.fas {
    width: initial !important;
    height: initial !important;
    font-size: 30px !important;
    vertical-align: middle !important;
}

.solutions-div .card-body {
    padding: 2rem !important;
}

.solutions-div .card-img-top {
    width: auto;
    height: 300px !important;
}

.solutions-div h5.card-title {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.solutions-div h2 {
    margin-bottom: 15px !important;
    padding-bottom: 10px !important;
    text-align: center!important;
    /* border-bottom: 5px solid var(--my-primary) !important; */
    color: #6c757d!important;
}

.home-section {
    padding: 2em 7em !important;
}

.home-section-intro {
    background-color: var(--my-primary-transparent) !important;
}

.solutions-card {
    background-color: var(--my-secondary) !important;
    border-radius: 0.5rem !important;
}

.solutions-card-text {
    color: white !important;
}

.my-custom-wrap,
.info-field-text {
    white-space: pre-wrap !important;
    /* CSS3 */
    white-space: -moz-pre-wrap !important;
    /* Firefox */
    white-space: -pre-wrap;
    /* Opera <7 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word !important;
    /* IE */
}

.info-table th,
td {
    border: 1px solid #e1e1e1 !important;
}

.info-field-title {
    text-transform: capitalize;
    color: #e5e5e5 !important;
    font-weight: 700 !important;
    text-align-last: center;
}

.info-field-text p {
    line-height: 6px !important;
}

.info-field-text td {
    text-align-last: center;
    border: 0px !important;
    padding: 2px !important;
    text-transform: capitalize !important;
    color: #717171 !important;
    font-size: 15px !important;
    font-weight: 700 !important;
}

.site-content {
    min-height: calc(100vh - 60px) !important;
}

.site-content h4 {
    text-align: center !important;
    /* animation: blink 2s infinite;
    -webkit-animation: blink 2s infinite; */
}

.site-content h5,
.site-content h4 {
    margin-bottom: 5px !important;
    color: var(--my-primary) !important;
}

.site-content p {
    margin-bottom: 0px !important;
}

@-webkit-keyframes blink {
    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
        text-shadow: 0 0 5px #eb735d, 0 0 15px #eb735d, 0 0 20px #eb735d, 0 0 40px #eb735d, 0 0 60px var(--my-primary), 0 0 10px #eb735d, 0 0 98px var(--my-primary);
        color: #eb735d;
    }
}

@keyframes blink {
    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
        text-shadow: 0 0 98px #eb735d, 0 0 98px #eb735d, 0 0 98px #eb735d, 0 0 98px #fc8d79, 0 0 98px var(--my-primary), 0 0 98px #eb735d, 0 0 98px var(--my-primary);
        color: #eb735d;
    }
}

#designSearchText {
    padding: 3px 5px !important;
}

.add_to_cart_button {
    background-color: var(--my-primary) !important;
    color: #fff !important;
    margin: 1rem 0rem !important;
    padding: 0.5rem 2rem !important;
    font-size: 1.5rem !important;
}

.add_to_cart_button:hover {
    color: #fff !important;
    background-color: var(--my-secondary) !important;
}

.reasons-div ul {
    margin-left: 35px !important;
    margin-right: 35px !important;
    list-style: none;
    padding: 0;
    color: var(--my-secondary) !important;
}

.reasons-div li {
    padding-left: 1.3em;
    font-size: 20px !important;
}

.reasons-div li:before {
    content: "\f005";
    /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    /* same as padding-left set on li */
    width: 1.3em;
    /* same as padding-left set on li */
}

.custom-sidebar-filter {
    background: var(--my-primary-transparent) !important;
    padding: 1.5rem !important;
    height: 100vh !important;
}

.infrastructure-div .tab-content {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.custom-home-page-title {
    margin: 4rem 2rem !important;
    font-size: 2.5em !important;
    color: var(--my-secondary) !important;
    text-align: center !important;
}

.custom-page-title {
    margin-top: 0 !important;
    font-size: 4em !important;
    color: var(--my-secondary) !important;
    text-align: center !important;
}

.aboutus-sections {
    background-color: #fff;
    padding: 2em 6em !important;
    min-height: 20rem !important;
}

.aboutus-sections-expertise {
    background-color: var(--my-primary);
}

.our-service-section,
.our-product-section {
    background-color: var(--my-primary-transparent) !important;
    padding: 2em 6em !important;
    min-height: 45rem !important;
}

.our-service-section__default,
.our-product-section__default {
    background-color: #fff !important;
}

.our-product-section__h2,
.our-service-section__h2,
.aboutus-sections-expertise__h2 {
    font-size: 3.5rem !important;
    line-height: 3rem !important;
    margin-bottom: 3rem !important;
    color: var(--my-primary) !important;
    text-align: center !important;
}

.our-service-content,
.our-product-content {
    align-self: center !important;
}

.our-service-section__img,
.our-product-section__img {
    width: 75rem;
    padding: 4rem 1rem;
    height: 100%;
    object-fit: cover;
    clear: both !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.our-product-section__ul {
    list-style-type: disc !important;
    margin-left: 35px !important;
}

p {
    color: #242627 !important;
}